# Bin files& folders
*/[Bb]in/*
[Bb]in/
/[Bb]in/

# Text files
*.txt

# Build results
[Dd]ebug/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
*/.vs/
*/*/.vs/
***/.vs/*